.my_font-size{
    font-size: .8rem;
}


.my_logo-mobile{
    width: 50px;
    height: 50px;
}

.my_bell{
    color: #ff8f00;
}

.my_navbar-column{
    background-color: #051e34;
    width: 10%;
}

.my_container-information{
    background-color: #1b72e8;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.my_width-img{
    width: 30px;
}

.my_btn-green{
    background-color: #3f8556;
}

.my_container-card{
    display: flex;
    flex-direction: column;
}

.my_column-left{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.my_column-right{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.my_round-background{
    background-color: #3557b7;
    border-radius: 20px;
}

@media screen and (min-width: 992px) {

    .my_container-card{
        flex-direction: row;
        gap: 35px;
    }

    .my_column-left{
    width: 60%;
    }

    .my_column-right{
        width: 40%;
    }


}

@media screen and (min-width: 768px) {
    
    .my_container-information{
        flex-direction: row;
    }
    
    .my_width{
        width: calc(100% / 3);
    }

    .student{
        order: 1;
    }

}



